#contact-page label {
    float: left;
    width: 100px;
}

#contact-page #mailingAddress {
    margin-left: 100px;
}

#contact-page .line {
    margin-bottom: 7px;
}

#contact-page .fieldText .error {
    padding-left: 100px;
    color: #CC3300;
}

#contact-page .fieldWrapper {
    margin-bottom: 10px;
}

#contact-page #message {
    width: 400px;
    height: 200px;
}

#contact-page #message_sms {
    width: 400px;
    height: 100px;
}

#contact-page #captchaChallenge {
    padding-bottom: 3px;
}

#contact-page #captchaResponse {
    margin-left: 100px;
    width: 150px;
}

#contact-page  .error {
    background: none;
    border: none;
    color: #CC3300;
    margin: 0;
    padding: 0;
}

#contact-page .button {
    margin-left: 100px;
    margin-top: 2px;
    width: 160px;
    color: #666633;
}

#contact-page .buttonsms {
    margin-left: 20px;
    margin-top: 2px;
    width: 160px;
    color: #666633;
}

#contact-page .buttonsms:hover, .buttonsms a:hover{
    background-color:#666633;
    border:1px solid white;
    color:#ffffff;
}

#contact-page .button:hover, .button a:hover {
    background-color:#666633;
    border:1px solid white;
    color:#ffffff;
}

.errorsms {
  background: #999966 url(../images/skin/exclamation.png) 0px 50% no-repeat;
  color: #CC3300;
  margin: 5px 0 5px 0;
  padding: 0px 5px 0px 30px
}


